.classpath
.project
.settings

.gradle
.idea
.DS_Store
build/*

bin/
build/*.jar
build/Panako-*
doc/javadoc
config.properties

!resources/defaults/config.properties
resources/scripts/benchmark/*csv
resources/scripts/benchmark/*txt

dbs

!build.gradle

*_db*

*DS_Store*

*.wav

eval_data
eval_panako

