.classpath
.project
.settings
bin/
build/*.jar
build/Panako-*
doc/javadoc
config.properties
!build/config.properties
dbs

*_db*

*DS_Store*

*.wav

scripts/reproducibility/mp3_files.txt
scripts/reproducibility/music
scripts/reproducibility/queries_*
scripts/reproducibility/*csv
